.body {
    background-color: #4C0871;
    color: white;
    padding: 3% 5%;
}
.sectionTitle {
        font-size: 2rem;
        margin-bottom: 3%;
}
    
.content {
    font-size: 1.5rem;
    max-width: 700px;
}