.parent {
    padding: 5% 0%;
    color: white;
}
.parentBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    min-width: 350px;
    margin: auto;

}

.leftTop {
    min-width: 300px;
    background-color: #8C1D18;
    height: 50%;
    border-top-left-radius: 20px;
    
    color: #8C1D18;
    font-size: 2.5rem;
}
.leftBottom {
    min-width: 300px;
    background-color: #4C0871;
    height: 50%;
    border-bottom-left-radius: 20px;

    color: #4C0871;
    font-size: 2.5rem;
}

.right {
    background-color: #FEBC1A;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    /* min-width: 300px; */
}

.rightImg {
    width: 100%;
    min-width: 200px;
}

.message{
    position: absolute;
    font-size: 4rem;
    width: 30%;
    min-width: 350px;
}

@media only screen and (max-width: 1024px) {
    .right {
        border-radius: 20px;
    }
    .leftBottom{
        border-radius: 20px;
        height: calc(100vh*0.2);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: 20px;
    }
    .leftTop{
        border-radius: 20px;
        height: calc(100vh*0.2);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .message {
        text-align: center;
        font-size:  calc(100vh*0.05);
    }
}