.parent{
    text-align: center;
    background-color: #4C0871;
    color: white;
    padding: 1em;
    font-size: 1.25rem;
}

.thumbnail {
    font-size: .75rem;
}

.extraPad{
    padding: 0 .25em;
}