.parent {
    background-color: #4C0871;
    padding: 5% 3%;
    color: white;
    font-size: 1rem;
}

.sectionTitle {
    text-align: center;
    font-size: 2.5rem;
    color : #4C0871
}

.sectionContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: 1fr 1fr; */
}

@media only screen and (min-width: 1024px) {
    
    .sectionContent {
        grid-template-columns: 1fr 1fr;
    }
}

.imageStyles {
    width: calc(100vw * 0.25);
    height: calc(100vw * 0.25);
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 250px;
    margin: auto;
    margin-bottom: 50px;
}

.contentTitle {
    color: #4C0871;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.messageBox {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 500px;
    padding: 20px;
    margin-bottom: 50px;
}
