@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Open+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans&family=Roboto&display=swap");

p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    background: none;
}
