.main-section {
    min-height: 100vh;
    background-color: #030303;
}

.main-section section:nth-child(1) {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    padding: 1% 0;
}

.main-section section:nth-child(1) p {
    font-family: Italianno, cursive;
    font-size: 175%;
}

.main-section section:nth-child(1) nav {
    display: flex;
    justify-content: space-between;
    min-width: 200px
}

.main-section section:nth-child(1) nav button {
    font-size: 175%;
    font-family: Italianno, cursive;
}

.main-section section:nth-child(2) {
    text-align: center;
}


.main-section section:nth-child(2) img {
    width: 90%;
    aspect-ratio: 1.75/1;
}