.name {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 2.75rem;
    font-variation-settings: "ROND" 0;
}

.hero-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.75rem;
}

.me {
    will-change: filter;
    transition: filter 300ms;
}
.me:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.custom-shape-divider-bottom-1741870286 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1741870286 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 369px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1741870286 .shape-fill {
    fill: #fffafa;
}

/* From Uiverse.io by Tiagoadag */
.card {
    width: 285px;
    height: 350px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    border-bottom-right-radius: 0;
    animation: cardAnimate 0.3s steps(25) 3.5s 1 normal both;
}

.card2 {
    width: 285px;
    height: 350px;
    background-color: #1a1a1a;
    border-radius: 19px;
    border-bottom-right-radius: 0;
    animation: card2Animate 0.2s steps(25) 3.5s 1 normal both;
    /* display: flex; */
}

/* .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
} */

/* .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
} */

@keyframes card2Animate {
    100% {
        transform: scale(0.98);
        border-radius: 20px;
    }
}

@keyframes cardAnimate {
    100% {
        box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
    }
}

/* Cursor */
.cursor {
    position: relative;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.typewriter-animation {
    animation:
        typewriter 2s steps(25) 1s 1 normal both,
        blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: calc(1.75rem * 10);
    }
}
@keyframes blinkingCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.hero-content  {
      padding-top: 12%;
  }

@media screen and (max-width: 375px) {
  .hero-content .hero-text {
      font-size: 1rem;
  }
}
